<div class='container'>
	<%= form_for :question, url: group_questions_path do |f| %>

  	<% if @errors.any? %>
    	The form contains <%= pluralize(@errors.count, "error") %>.
    	<ul>
    		<% @errors.each do |e| %>
      		<li><%= e %></li>
    		<% end %>
    	</ul>
  	<% end %>

		<%= f.label :question_text %>:
		<%= f.text_field :question_text %><br>

		<%= f.label :question_options %>:
		<%= text_field_tag :question_options, placeholder="test" %><br>
		(separate question options with a comma. eg: steamboat, chinese food, japanese food)<br><br>
		<!-- need to have a validation on question controller side for question_options field -->

		<%= f.label :question_type %>:
		<%= f.radio_button :question_type, "Budget" %>
		<%= f.label :Budget %>
		<%= f.radio_button :question_type, "Type of Food" %>
		<%= f.label :type_of_food %>
		<%= f.radio_button :question_type, "Location" %>
		<%= f.label :location %>
		<%= f.radio_button :question_type, "Other" %>
		<%= f.label :other %><br><br>

		<%= button_tag(type: 'submit', class: 'btn') do %>
			<span class='glyphicon glyphicon-check'></span> Create Question
		<% end %>

	<% end %>
</div>