Edit Your Group

<%= form_for(@group) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :description %>
  <%= f.text_field :description %><br>

 	  <%= button_tag(type: "submit", class: "btn") do %>
  		<span class="glyphicon glyphicon-check"></span> Submit
		<% end %>

<% end %>
