<div class="container">
  <div class="signup-box">
    <h1>Edit Your Group</h1>
    <br>
    <br>
    <%= form_for(@group , :html => {:class => 'form-horizontal'}) do |f| %>
    <!-- front-end broken here. need to insert in the class again. -->

        <% if flash.present? %>
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>">
                  <%= value  %>
                </div>
            <% end %>
        <% end %>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">Group Name</label>
          <div class="col-sm-9">
            <!--<input type="text" class="form-control" id="inputEmail3" placeholder="group name">-->
            <%= f.text_field :name ,class:"form-control" ,placeholder: "Name your group" %><br>
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">Group Name</label>
          <div class="col-sm-9">
            <!--<input type="text" class="form-control" id="inputEmail3" placeholder="group name">-->
            <%= f.text_field :description ,class:"form-control" ,placeholder: "Group Description" %><br>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Edit Member Emails</label>
          <div class="col-sm-9">

            <%= text_field :user ,class:"form-control" ,placeholder: "Add member" %><br>
            <br>
            <div class="member-list-box">
              <% @users.each do |user| %>
                <%= user.name %>
                  <%= link_to "Delete This User", delete_user_group_path(@group.id,user.id), class:"btn btn-danger pull-right" , method: :delete, data: { confirm: "Are you sure?"} %><br>

              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">
              Edit Group
            </button>
          </div>
        </div>

  <% end %>
  </div>
</div>
