<div class='container'>
	<%= form_for :group, url: groups_path do |f| %>

		<%= f.label :name_of_group %>:
		<%= f.text_field :name %><br>

		<%= f.label :description %>:
		<%= f.text_field :description, placeholder: "Describe your group" %><br>

		<%= f.label :add_member_emails %>:
		<%= text_field_tag :members %><br>
		(separate member emails with a comma. eg: a@a.com, b@b.com)<br><br>

		<%= button_tag(type: "submit", class: "btn") do %>
			<span class='glyphicon glyphicon-check'></span> Create Group
		<% end %>

	<% end %>
</div>
