<div class='container'>
	Group Name: <%= @group.name %><br>
	Group Description: <%= @group.description %><br><br>
	<%= pluralize(@group.users.count, 'Member')%>:<br>
		<% @group.users.each do |m| %>
			<%= m.name %><br>
		<% end %>
	<br>

	<%= pluralize(@group.questions.count, 'Question') %>:<br>
		<% @group.questions.each do |q| %>
			<%= q.question_text %><br>
				<% q.question_options.each do |o| %>
					<%= o.option_text %> ===
					<!-- === is a placeholder separator. remove once front-end is done. -->
				<% end %>
					<br><br>
		<% end %>
		<%= link_to "Create Question", new_group_question_path(@group.id) %><br>
		<%= link_to "Vote", new_group_vote_path(@group.id) %><br>
		<%= link_to "View Vote Results", group_votes_path(@group.id) %><br>
</div>