<div class='container'>
  <br>
    <h2 class="text-center">Group Details</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-md-8">


        <div class="restaurant-details-content-name-box">
          <h2 class="inner">Details</h2>
          <h3>
            <%= @group.name %>
          </h3>
          <br>
          <p>
            <%= @group.description %>
          </p>
          <br>
          <p>
            <strong><%= pluralize(@group.questions.count, 'Question') %></strong>
            <br>
            <ul class="list-group">
              <% @group.questions.each do |q| %>
                <li class="list-group-item">
                  <%= q.question_text %>
                  <br>
                  <br>
                  <strong>Options</strong>
                  <br>
                  <br>
                    <ul class="list-group">
                      <% q.question_options.each do |o| %>
                          <li class="list-group-item">
                            <%= o.option_text %>
                            <!-- === is a placeholder separator. remove once front-end is done. -->
                          </li>
                      <% end %>
                    </ul>
                </li>

              <% end %>
            </ul>
          </p>

        </div>

      </div>
      <div class="col-md-4">

        <div class="restaurant-details-content-details-box">
          <h3>Mebers</h3>
          <table>
            <tbody><tr>
              <td>
                <strong><%= pluralize(@group.users.count, 'Member')%>:</strong>
              </td>
              <!--<td>-->
                <!--Cat01-->
              <!--</td>-->
            </tr>
            <tr>
              <td>
                <% @group.users.each do |m| %>
                    <%= m.name %><br>
                <% end %>
              </td>

            </tr>
            </tbody>
          </table>
          <br>
          <%= link_to "Create Question", new_group_question_path(@group.id), class: "btn btn-primary" %><br>
          <br>
          <%= link_to "Vote", new_group_vote_path(@group.id), class: "btn btn-info" %><br>
          <br>
          <%= link_to "View Vote Results", group_votes_path(@group.id), class: "btn btn-success" %><br>
        </div>
      </div>



    </div>
  <br>
  <br>




	</div>

</div>