<div class='container'>
  <br>
    <h2 class="text-center">Group Details</h2>
    <br>
              <%= form_for :search, url: searches_path ,:html => {:class => 'form-horizontal'} do |f| %>
        <div class="form-group">
          <label>Find</label>
          <div>
            <%= f.text_field :search_for,class:"form-control", :placeholder => "Type of Food" %>
          </div>
        </div>
        <div class="form-group">
          <label>At</label>
          <div>
            <%= f.text_field :location,class:"form-control", :placeholder => "Location" %>
          </div>
        </div>
        <div class="form-group">
          <div>
            <%= button_tag(type: "submit", class: "btn btn-success") do %>
            	Search
            <% end %>
    <br>
    <div class="row">
      <div class="col-md-8">


        <div class="restaurant-details-content-name-box">
          <h2 class="inner"><%= @group.name %> (<%= pluralize(@group.questions.count, 'Question') %>)</h2>
          <p class='text-center'>
            <%= @group.description %>
          </p>
                <p class="text-center">
        <strong>
          <% if @voted %>
            You have voted. <br>
          <% else %>
            You have not yet voted! Please vote <%= link_to 'here.', new_group_vote_path(params[:id]) %><br>
          <% end %>
        </strong>
      </p>
          <h4 class="text-center"></h4>
          <p>
      <ul class="list-group">
        <% @questions.each do |q| %>
            <li class="list-group-item">
              <h3 class="text-center"><%= q.question_text %></h3>
              <br>
              <ul class="list-group">
              	<% q.question_options.each do |o| %>
                <!-- < % q.question_options.highest_vote_count.each do |o| %> -->
                  <li class="list-group-item">
                    <strong><%= o.option_text %></strong> - <%= pluralize(o.votes.count, 'vote') %>.<br>
                  </li>
                <% end %>
              </ul>
            </li>
          <br>
        <% end %>
      </ul>
          </p>

        </div>

      </div>
      <div class="col-md-4">

        <div class="restaurant-details-content-details-box">
          <h3><%= pluralize(@group.users.count, 'Member')%> (<%= @total_votes %> have voted.)</h3>
          <table>
            <tbody>
            <tr>
              <td>
                <% @group.users.each do |m| %>
                    <%= m.name %><br>
                <% end %>
              </td>

            </tr>
            </tbody>
          </table>
          <br>
          <%= link_to "Create Question", new_group_question_path(@group.id), class: "btn btn-primary" %><br>
          <br>
          <%= link_to "Vote", new_group_vote_path(@group.id), class: "btn btn-info" %><br>
          <br>

          </div>
        </div>
      <% end %>
        </div>
      </div>



    </div>
  <br>
  <br>




	</div>

</div>