<% content_for :header_import do %>
    <%= stylesheet_link_tag 'jquery.bxslider', media: 'all' %>
<% end %>

<section class="home-banner-section">
  <div class="container">
    <h1>Time to eat</h1>
    <br>
    <h2>Let's go</h2>
    <br>
    <button class="btn btn-lg transition-add">Search</button>
  </div>
</section>

<section class="call-to-action-section-container">
  <div class="container">
    <div class="call-to-action-section">
    <div class="css-table-cell">
      <div class="icon">
        <%= image_tag("Ecommerce-Food-icon.png") %>
      </div>
    </div>
    <div class="text css-table">
      <div class="css-table-cell">
        <h4>Purchase TakeAway</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi..</p>
      </div>

      <div class="css-table-cell">
        <a href="#" class="btn btn-default-red  pad-bottom"><i class="fa fa-file-text-o"></i> Read  More</a>
      </div>

      <div class="css-table-cell">
        <a href="#" class="btn btn-default-red-inverse pad-top"><i class="fa fa-shopping-cart"></i> Purchase Now!</a>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="category-section">
  <div class="category-boxes-icons">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="category-boxes-item">
            <figure>
              <%= image_tag("starter.png") %>

              <h4>Starters</h4>

            </figure>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-boxes-item">
            <figure>
              <%= image_tag("starter.png") %>

              <h4>Starters</h4>

            </figure>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-boxes-item">
            <figure>
              <%= image_tag("main-dish.png") %>

              <h4>Starters</h4>

            </figure>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-boxes-item">
            <figure>
              <%= image_tag("desserts.png") %>

              <h4>Starters</h4>

            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>About Us</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi..</p>
        <br>
        <button class="btn btn-lg">
          Go Go
        </button>
      </div>
      <div class="col-md-6">
        <div class="about-us-image-box">
          <%= image_tag("dinner-plate.png") %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial-section">
  <div class="container">
    <h1>Testimonial</h1>
    <br>
    <br>
    <div class="testimonial-slider-box">
      <ul class="bxslider">
        <li>
          <div class="slider-index-box">
            <div class="testimonial-slide-each-box">

                <div class="col-md-4">
                  <div class="image-box pull-left">
                    <%= image_tag("starter.png") %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box pull-left">
                    <p>
                      <strong>Nawe</strong>
                      <br>
                      <br>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi..
                    </p>

                  </div>
                </div>


            </div>
          </div>
        </li>
        <li>

        </li>
      </ul>
    </div>
  </div>
</section>


<% content_for :footer_script do %>

    <%= javascript_include_tag 'jquery.bxslider.min' %>

    <script>

      $('.bxslider').bxSlider({
        minSlides: 2,
        maxSlides: 2,
        slideWidth: 480,
        slideMargin: 10
      });

    </script>
<% end %>