<section class="restaurant-details-banner-section">
  <div class="black-filter">

  </div>
  <div class="container restaurant-details-banner-container">
    <div class="content-box">
      <h1>Best <%= @searched %></h1>
      <br>
      <h3>in</h3>
      <br>
      <h2>
        <%= @location %>
      </h2>
    </div>
  </div>
</section>

<section class="restaurant-details-content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="restaurant-details-content-name-box head-result-layout margin-bottom-30 margin-bt-0">
          <h2 class="inner">Results</h2>
        </div>

      </div>
      <div class="col-md-12">
      	<div id="map_wrapper">
          <div id="map_canvas" class="mapping"></div>
        </div>
        <% @x.each do |b| %>
          <div class="restaurant-details-content-name-box">
            <div class="media">
              <div class="media-left">

                <!--<img class="media-object" data-src="holder.js/64x64" style="width: 64px; height: 64px;" src="" data-holder-rendered="true">-->
                <%= image_tag b.image_url ,class: "media-object" ,"data-holder-rendered":"true"%>
              </div>
              <div class="media-body">
                <div class="row">
                  <div class="col-md-6">
                    <%= link_to b.url do %>
                        <h4 class="media-heading"><%= b.name %></h4>
                    <% end %>
                    <%= image_tag b.rating_img_url %> <%= pluralize(b.review_count, 'review') %>
                    <br>
                    Categories: <% b.categories.each_with_index do |c, index| %>
                        <% if index == b.categories.size - 1 %>
                            <%= link_to c[0], "https://www.yelp.com/search?find_desc=#{@searched}&find_loc=#{@location}&start=0&cflt=#{c[0]}" %>
                        <% else %>
                            <%= link_to c[0], "https://www.yelp.com/search?find_desc=#{@searched}&find_loc=#{@location}&start=0&cflt=#{c[0]}" %>,
                        <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <strong>
                      <% b.location.display_address.each_with_index do |a, index| %>
                          <% if index == b.location.display_address.size - 1 %>
                              <%= a %> <br>
                          <% else %>
                              <%= a %>,<br>
                          <% end %>
                      <% end %>
<<<<<<< HEAD
                    </strong>
                    <br>
                    <!-- < %= b.snippet_text %><br><br> -->
                    <% if b.phone %>
                        <strong>Phone number:</strong> <%= b.phone %>
                    <% end %>
                  </div>
                </div>

=======
                  <% end %>
                </strong>
                <br>
                <!-- < %= b.snippet_text %><br><br> -->
                <% if b.phone %>
                	<strong>Phone number:</strong> <%= b.phone %>
                <% end %>
>>>>>>> 9a97da0e19470450c35989503060d9673c043698
              </div>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</section>
