<div class='container'>
  <div class="signup-box">
    <%= form_for :vote, url: group_votes_path do |f| %>
      <p class="text-center">
        <strong>
          <% if @voted %>
              You have voted. Use this form to resubmit your vote if you changed your mind.<br><br>
          <% else %>
              You have not yet voted.<br>
          <% end %>
        </strong>
      </p>

        <br>

      <% @questions.each do |q| %>
        <h3 class="text-center">
          <%= q.question_text %>
        </h3>
            <br>
        <div class="food-type-box text-center">
          <% q.question_options.each do |o| %>
            <label class="radio-inline">
              <%= f.radio_button :question_option_id, o.id, name: "question[#{q.id}]" %>

              <%= o.option_text %>
            </label>
          <% end %>
        </div>
            <br>
      <% end %>

        <br>
        <hr>
        <br>

        <div class="text-center">
          <!--<input type="submit" class="btn btn-success" value="Submit your vote">-->
          <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
            Submit Vote
          <% end %>
        </div>

    <% end %>
  </div>
</div>