<div class="container">
  <div class="signup-box">
    <h1>Sign up</h1>
    <br>
    <br>
    <%= form_for resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal'} do |f| %>


              <%= devise_error_messages! %>
      <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->

          <%= f.text_field :username, class:"form-control", autofocus: true %>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->

          <%= f.text_field :name, class:"form-control", autofocus: true %>

        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
          <%= f.email_field :email, class:"form-control" , autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password">-->
          <%= f.password_field :password,class:"form-control", autocomplete: "off" %>

        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
          <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">-->
          <%= f.password_field :password_confirmation ,class:"form-control", autocomplete: "off" %>

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <!--<button type="submit" class="btn btn-success">Sign Up</button>-->
          <%= f.submit "Sign up" ,class:"btn btn-success" %>

        </div>
      </div>
    <% end %>
    <br>
    <hr>
    <br>
    <div class="social-bt-sign-box">
      <a href="#" class="btn btn-lg btn-social btn-facebook">
        <i class="fa fa-facebook"></i>
        Sign in with Facebook
      </a>
    </div>

    <br>
    <hr>
    <br>
    <div class="text-center">
      <%= render "users/shared/links" %>
    </div>

  </div>

</div>

